<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All CHats !! </title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <h3>Le ye rahi teri chette ! </h3>
    <form action="/chats/new" method="get" >
        <button>Aur baate karni hai mujhe to</button>
    </form>
    <% for(let chat of chats){ %>
        <div class="chat">
            <p>FROM : <%= chat.from %> </p>
            <div class="msg">
                <p>MESSAGE : <%= chat.msg %> </p>
                <form method="get" action="/chats/<%= chat._id %>/edit">
                    <button>EDIT KARNA HAI :( </button>
                </form>
                <form method="get" action="/chats/<%= chat._id %>?_method=DELETE">
                    <button>DELETE KARNA HAI :( </button>
                </form>
                <form method="get" action="/chats/<%= chat._id %>?_method=DELETE">
                    <button>SHOW</button>
                </form>
            </div>
            <p>TO : <%= chat.to %> </p>
            <!-- Puri date ko apan ne ese split kardia jisse vo array ban gayi aur ana ne uspe index daal ke parrticalur,time,date,day ko access kar dia -->
            <p>TIME : <%= chat.created_at.toString().split(" ")[4] %> </p>
            <p>DATE : <%= chat.created_at.toString().split(" ").slice(0,4).join(" ") %> </p>
        </div>
        <hr>
    <% } %>
</body>
</html>

